@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
body{
    margin:0;
    background-color:rgb(255,244,242);
    font-family: 'Oswald', sans-serif;
}
.container{
    width:700px;
    margin:12px ;

}
.random-quote{

}
.btn{
    color:white;
    padding:12px 22px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background-color:tomato;
    font-size:16px;
    font-weight:bolder;

}
.author{
    background-color:#ffae9f;  
    display:inline-block;
    padding: 4px 12px;
    margin-right:8px;
    border-radius:20px;
    color:black;
    cursor:pointer
}
.author