@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
body{
    background-color:rgb(255,244,242);
    font-family: 'Oswald', sans-serif;
    margin:auto;
    text-align:center;


}
.container{
}
.quotes{
    background-color:white;
    padding:20px;
    border-radius:16px;
    margin:20px 0;

}
.btn{
    color:white;
    padding:12px 22px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background-color:tomato;
    font-size:16px;
    font-weight:bolder;

}
.author{
    background-color:#ffae9f;  
    display:inline-block;
    padding: 4px 12px;
    margin-right:8px;
    border-radius:20px;
    color:black;
    cursor:pointer
}
.random-author{
    
    color:gray;
    margin-top:0px;

}
#random-qoute{
    margin-bottom:2px;
}
.nav{
    padding:12px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:12px 0px;
}
.logo{
    text-decoration:none;
    font-weight:bold;
    font-size:22px;
    color:tomato;
}
.nav-btn{
    color:white;
    padding:6px 22px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background-color:tomato;
    font-size:16px;
}